<section class="portfolio">
  <h2>Portfolio</h2>

  <div class="grid">
    <div class="card"><img src="../img/p1.jpeg"><p>Project 1</p></div>
    <div class="card"><img src="../img/p1.jpeg"><p>Project 2</p></div>
    <div class="card"><img src="../img/p1.jpeg"><p>Project 3</p></div>
    <div class="card"><img src="../img/p1.jpeg"><p>Project 4</p></div>
    <div class="card"><img src="../img/p1.jpeg"><p>Project 5</p></div>
    <div class="card"><img src="../img/p1.jpeg"><p>Project 6</p></div>
  </div>
</section>
